ion-content {
//0ackground-image: url('../../../assets/images/fondo2.fw.png');
//  background-repeat: repeat-x;
  background-color:#162D1B;


}

ion-list {
  padding: 0px 10px;
  background-color: transparent;

  ion-label{
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  ion-icon {
    color: var(--ion-color-primary);
  }
  ion-card ion-card-header {
    font-size: 9px;
}

}
.texto_gral{
  font-size: 12px;
}
h2 {
  //font-family: times, Times New Roman, times-roman, georgia, serif;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -1px;
  color: var(--ion-color-primary);
  margin: 10px 10px 10px 10px;
  padding: 0 0 0 0;
  //font-weight: 100;
}

h3 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -1px;
  color: #272727;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h4 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: none !important;
  color: var(--primary);
  font-size: 1em;
}

strong {
  font-weight: normal;
  float: right;
  //margin-right: 5%;
  color: black;
}

.ion-card-title{

  font-size: 15px;

}




.ionCol {
  display: contents;
}

.ionCol img {
  padding: 5px;
  left: -10px;
  position: relative;
}

.par {
  --background: #FFFFFF;
  opacity: 0.8;
  font-size: 12px;
  padding-bottom: 5px;
  color: var(--ion-color-primary);
}

.impar {
  --background: #F9F9F9;
  opacity: 0.8;
  font-size: 12px;
  padding-bottom: 5px;
  color: var(--ion-color-primary);
}

.item-inner{
  border-style: none;

}



.texto {
  color: rgb(70, 70, 70);
  font-size: 11px;
  padding-left: 2%;

}


ion-toolbar{
  background-color: var(--ion-color-primary-toolbar);;
}
ion-title {
  font-size: medium;
  padding-top: 5px;
  padding-bottom: 5px;
}
