<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/legales"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Términos y condiciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="light" >
     <ion-card-header>
      <ion-card-title>Kernel Informática</ion-card-title>
      <ion-card-subtitle>Términos y condiciones</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

<div class="sub-titulos">1) Introducción</div>

<p>
  Estos términos y condiciones ("Términos") rigen su uso de la aplicación GestAgro (la "Aplicación") y cualquier servicio asociado (los "Servicios"). Al usar la Aplicación o los Servicios, usted acepta estar sujeto a estos Términos.
  </p>
<br>
  <div class="sub-titulos">2) Elegibilidad</div>
  <p>
  Debe tener al menos 13 años para usar la aplicación o los servicios. Si tiene menos de 13 años, solo puede usar la aplicación o los servicios con el permiso de su padre o tutor legal</p>

  <br>
  <div class="sub-titulos">3) Propiedad</div>
  <p>La aplicación y los servicios son propiedad y están operados por Kernel Informática Cooperativa de Trabajo Ltda. Todos los derechos de propiedad intelectual de la Aplicación y los Servicios son propiedad de Kernel Informática Cooperativa de Trabajo Ltda. o sus licenciantes.
  </p>
  <br>
  <div class="sub-titulos">4) Licencia</div>
  <p>
  Sujeto a estos Términos, Kernel Informática Cooperativa de Trabajo Ltda le otorga una licencia no exclusiva, intransferible y revocable para usar la Aplicación y los Servicios para su uso personal y no comercial.
  </p>

  <br>
  <div class="sub-titulos">5) Restricciones</div>
  <br>
  <strong>No deberías:</strong>

  <p>
    <li>Usar la Aplicación o los Servicios para cualquier propósito ilegal o no autorizado.</li>
    <li> Modificar, adaptar o hackear la Aplicación o los Servicios.</li>
    <li> Realizar ingeniería inversa, descompilar o desensamblar la Aplicación o los Servicios.</li>
    <li> Usar la Aplicación o los Servicios para crear obras derivadas.</li>
    <li> Usar la Aplicación o los Servicios para dañar o explotar a otros.</li>
  </p>

  <br>
  <div class="sub-titulos">6) Terminación</div>

  <p><strong>Kernel Informática Cooperativa de Trabajo Ltda</strong> puede rescindir su acceso a la Aplicación o los Servicios en cualquier momento, por cualquier motivo, con o sin previo aviso.</p>

  <br>
  <div class="sub-titulos">7) Renuncia de garantías</div>

  <p>LA APLICACIÓN Y LOS SERVICIOS SE PROPORCIONAN "TAL CUAL" Y Kernel Informática Cooperativa de Trabajo Ltda <strong>NO OFRECE GARANTÍAS, EXPLÍCITAS O IMPLÍCITAS, INCLUIDAS LAS GARANTÍAS DE COMERCIABILIDAD, IDONEIDAD PARA UN FIN DETERMINADO O NO VIOLACIÓN.</strong></p>

  <br>
  <div class="sub-titulos">8) Limitación de responsabilidad</div>
  <p>En ningún caso Kernel Informática Cooperativa de Trabajo Ltda <strong>SERÁ RESPONSABLE DE CUALQUIER DAÑO DIRECTO, INDIRECTO, INCIDENTAL, ESPECIAL, EJEMPLAR O CONSECUENTE (INCLUYENDO, ENTRE OTROS, PÉRDIDA DE BENEFICIOS, DATOS O USO, INTERRUPCIÓN DEL NEGOCIO O LESIONES PERSONALES) CUALQUIER CAUSACIÓN Y EN CUALQUIER TEORÍA DE RESPONSABILIDAD, YA SEA POR CONTRATO, RESPONSABILIDAD ESTRICTA O AGRAVIO (INCLUYENDO NEGLIGENCIA O DE OTRO TIPO) QUE SURJA DE CUALQUIER FORMA DEL USO DE LA APLICACIÓN O LOS SERVICIOS, INCLUSO SI SE ADVIERTE DE LA POSIBILIDAD DE DICHO DAÑO.</strong></p>
  <br>
  <div class="sub-titulos">9) Ley aplicable</div>
  <p>Estos Términos se regirán e interpretarán de acuerdo con las leyes de Argentina, sin tener en cuenta sus disposiciones sobre conflictos de leyes.</p>
  <br>
  <div class="sub-titulos">10) Acuerdo completo</div>
  <p>Estos Términos constituyen el acuerdo completo entre usted y <strong>Kernel Informática Cooperativa de Trabajo Ltda</strong> con respecto a la Aplicación y los Servicios, y reemplazan todas las comunicaciones, representaciones o acuerdos anteriores o contemporáneos, ya sean orales o escritos.</p>
  <br>

  <div class="sub-titulos">11) Cambios a los Términos</div>
  <p><strong>Kernel Informática Cooperativa de Trabajo Ltda</strong> puede modificar estos Términos en cualquier momento publicando los Términos modificados en la Aplicación o los Servicios. Su uso continuado de la Aplicación o los Servicios después de dicha modificación constituye su aceptación de los Términos modificados.</p>

  <br>
  <div class="sub-titulos">12) Información de contacto</div>
  <p>Si tiene alguna pregunta sobre estos Términos, comuníquese con <strong>Kernel Informática Cooperativa de Trabajo Ltda </strong>en <a href="mailto: info@kernelinformatica.com.ar">info@kernelinformatica.com.ar</a>.</p>

    </ion-card-content>


  </ion-card>


  <br><br><br><br><br>

  <br>
  <img class="logo" src="../../../assets/images/kernel.png"/>
  <p class="kernelInfo">© Copyright. Todos los derechos reservados</p>
  <p class="kernelInfo"><a href="http://www.kernelinformatica.com.ar" target="_blank">http://www.kernelinformatica.com.ar</a></p>
  <br>
  <p><img src="https://micuenta.donweb.com/assets/img/servicios/ssl/sectigo_positive_sm.png"></p>
</ion-content>
