

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="pedir-dinero">
        <ion-icon name="cash" aria-hidden="true"></ion-icon>
        <ion-label>Solicitar dinero</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mis-pedidos">
        <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
        <ion-badge *ngIf="cantidadPendiente > 0" color="success">{{cantidadPendiente}}</ion-badge>
        <ion-label>Mis Pedidos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pedidos-historial">
        <ion-icon name="refresh" aria-hidden="true"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
   </ion-tab-bar>
  </ion-tabs>
</ion-content>
