ion-content {

//background-image: url('../../../assets/images/fondo2.fw.png');
//background-repeat: repeat-x;
background-color:#162D1B;
}


ion-list {
  padding: 0px 10px;
  background-color: transparent;

  ion-label{
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  ion-icon {
    color: var(--ion-color-primary);
  }
  ion-card ion-card-header {
    font-size: 9px;
}

}
.texto_gral{
  font-size: 12px;
}
ion-toolbar{
  background-color: var(--ion-color-primary-toolbar);;
}

.tab-selected {
  color: #ecce41
}

ion-tab-button:hover {
  --color: #EBCF40;
}

ion-title{
  font-size: 16px;
}

.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}





