ion-content {
  background: rgb(168,198,237);
background: linear-gradient(0deg, rgba(168,198,237,1) 0%, rgba(63,136,236,1) 100%);
background-image: url("../../../../resources/bg.png");
  .logo{
      margin-top:auto;
      margin-bottom: auto;
      margin-left:auto;
      margin-right: auto;
      display: block;
  }


  .version{
      font-size: 1.3em;
      font: 'Helvetica Bold', Helvetica, Arial, sans-serif;
      margin-left: auto;margin-right: auto;
      width:auto;
      text-align: center;
  }

  .aplicacion{
      max-width: 70%;
      margin: auto
  }

  .columna{
      width: 100%;
  }

  .centrado{
      min-height: 100%;
      min-width: 100%;
      margin:auto;
  }

  .kernelInfo{
      margin-left:10%;
      margin-right: 10%;
      font-size: 11px;
      text-align: center;
  }
  .versionLib{
      //font-font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
      font-size: 0.8em;
      padding-top:0px;
      margin-top:0px;
      padding-bottom:0px;
      margin-bottom:0px;
      text-align: center;
  }

  .info {
      font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
      font-size: 12px;
      margin-left: auto;
      margin-right: auto;
  }

  ion-grid {
      padding: 0;
      height: 100%;
  }

}
ion-toolbar{
  background-color: var(--ion-color-primary-toolbar);;
}
