<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Políticas de privacidad</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/legales"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">politica</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="light" >
     <ion-card-header>
      <ion-card-title>{{razonSocial}}</ion-card-title>
      <ion-card-subtitle>Políticas de serguridad</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

<div class="sub-titulos">Introducción</div>
<p>{{razonSocial}} ("Aplicación") es una aplicación móvil que permite a los usuarios consultar información en línea del resumen de cuentas corrientes y resumen de cereales. La aplicación recopila y utiliza ciertos datos personales sobre sus usuarios. Esta política de privacidad ("Política") describe cómo recopilamos, usamos y compartimos estos datos.
</p>
<br>

<div class="sub-titulos">Información que recopilamos</div>

<p>Recopilamos los siguientes tipos de datos personales de los usuarios de la aplicación:</p>

<p>
<strong>Información del dispositivo:</strong> recopilamos información sobre el dispositivo que utiliza para acceder a la aplicación, como la dirección IP de su dispositivo, el tipo de dispositivo, el sistema operativo y el tipo de navegador.
Datos de uso: recopilamos información sobre cómo usa la aplicación, datos sobre otras actividades, las características de la aplicación que usa, las páginas que visita y los enlaces en los que hace clic.
Datos de ubicación: si ha habilitado los servicios de ubicación en su dispositivo, podemos recopilar sus datos de ubicación.
Información de contacto: si nos proporciona su información de contacto, como su nombre, dirección de correo electrónico o número de teléfono, recopilaremos y utilizaremos esta información para comunicarnos con usted acerca de la aplicación.
</p>
<br>


<div class="sub-titulos">Cómo usamos su información</div>
<p>
Utilizamos los datos personales que recopilamos de los usuarios de la aplicación para los siguientes propósitos:
</p>

<p>Para proporcionar y mejorar la aplicación: utilizamos sus datos personales para proporcionar y mejorar la aplicación, por ejemplo, personalizando su experiencia, solucionando problemas y analizando el uso de la aplicación.
Para comunicarnos con usted: podemos utilizar sus datos personales para comunicarnos con usted acerca de la aplicación, por ejemplo, para enviarle notificaciones, actualizaciones y materiales de marketing.
</p>
<p>Para proteger nuestros derechos e intereses: podemos utilizar sus datos personales para proteger nuestros derechos e intereses, como para investigar y prevenir el fraude y el abuso.
Para cumplir con las leyes y reglamentos: Podemos utilizar sus datos personales para cumplir con las leyes y reglamentos aplicables.
</p>
<br>

<div class="sub-titulos">Cómo compartimos su información</div>
<p>Podemos compartir sus datos personales con los siguientes terceros:</p>
<p>
Proveedores de servicios: podemos compartir sus datos personales con nuestros proveedores de servicios, que nos ayudan a operar la aplicación, como proveedores de alojamiento, proveedores de análisis y redes publicitarias.
Socios comerciales: podemos compartir sus datos personales con nuestros socios comerciales, quienes pueden usar sus datos personales para proporcionarle productos o servicios o para comercializar con usted.
Otros: podemos compartir sus datos personales con otros, como en respuesta a una solicitud legal o para proteger nuestros derechos e intereses.
</p>
<br>

<div class="sub-titulos">Seguridad de datos</div>
<p>Tomamos medidas para proteger la seguridad de sus datos personales. Estos pasos incluyen:</p>
<p>Usar medidas de seguridad estándar de la industria para proteger sus datos personales del acceso, uso, divulgación, alteración o destrucción no autorizados.
Exigir a nuestros proveedores de servicios que implementen medidas de seguridad adecuadas para proteger sus datos personales.
Limitar el acceso a sus datos personales a los empleados que necesitan acceder a ellos para realizar su trabajo.
Capacitar a nuestros empleados sobre la importancia de proteger sus datos personales y las medidas de seguridad que tenemos implementadas.
</p>

<br>
<div class="sub-titulos">Tus derechos</div>

<p>
Tiene ciertos derechos con respecto a sus datos personales, incluido el derecho a:
</p>
<p>
<li>Accede a tus datos personales.</li>
<li>Solicitar que corrijamos o eliminemos sus datos personales.</li>
<li>Oponerse al tratamiento de sus datos personales.</li>
<li>Restringir el tratamiento de sus datos personales.</li>
<li>Transferir sus datos personales a otra organización.</li>
<li>Retirar su consentimiento para el tratamiento de sus datos personales.</li>
<p>
  * Para ejercer cualquiera de estos derechos, comuníquese con nosotros utilizando la información proporcionada al final de esta Política.
</p>
<br>

<div class="sub-titulos">Cambios a esta política</div>
<p>Podemos actualizar esta Política de vez en cuando. La versión más actualizada de la Política siempre estará disponible en nuestro sitio web.</p>

<div class="sub-titulos">Cómo contactarnos</div>

<p>Si tiene alguna pregunta sobre esta Política, comuníquese con nosotros utilizando la siguiente información:</p>

<p> <a href="https://www.maximopazcoop.com.ar"><strong>{{razonSocial}}:</strong></a> Email: <a href='mailto:info@coopaz.com.ar'>info@coopaz.com.ar</a></p>





    </ion-card-content>


  </ion-card>


  <br><br><br><br><br>


  <br>
  <img class="logo" src="../../../../assets/images/05.png"/>
  <p class="kernelInfo">© Copyright. Todos los derechos reservados</p>
  <p class="kernelInfo"><a href="https://www.maximopazcoop.com.ar" target="_blank">https://www.maximopazcoop.com.ar</a></p>
  <p class="kernelInfo"><img src="../../../../assets/images/sectigo_positive_sm.png"></p>
  <br>
</ion-content>
