ion-content {





 // background-image: url('../../../../assets/images/fondo2.fw.png');
  //background-repeat: repeat-x;
  background-color:#162D1B;


}
ion-toolbar{
  background-color: var(--ion-color-primary-toolbar);;
}
ion-list {
  padding: 0px 10px;
  background-color: transparent;

  ion-label{
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  ion-icon {
    color: var(--ion-color-primary);
  }


}
.texto_gral{
  font-size: 12px;
}









ion-accordion {
  margin: 0 auto;


}
.texto_acordion{
  font-size: 13px;

}
ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}




.extra-info {
  transform-origin: top;

  .element-extra {
      padding: 0px 0px;
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border: 9px solid white;
      border-bottom: 0px;
      background: #F7F7F7;
      font-size: 11px;
      .title-extra, .content-extra {
          display: inline;
      }
      .title-extra {
          font-weight: bold;
          text-transform: capitalize;

      }
      .content-extra {
          margin-left: 8px;
          text-align: right;


      }
  }

}
ion-title{
  font-size: 16px;
}
.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
