ion-content {
//  background-image: url('../../../assets/images/fondo2.fw.png');
  //background-repeat: repeat-x;
  background-color:#162D1B;
}
ion-toolbar{
  background-color: var(--ion-color-primary-toolbar);;
}

.tab-selected {
  color: #ecce41
}

ion-tab-button:hover {
  --background: #EBCF40;
  --color: black;
}

