
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resumen</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="istodoCargado">
 <ion-header [translucent]="true" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col>

      <h2>{{ resumen?.cuenta.nombre ?? "" | uppercase }} </h2>
      <h3>{{ resumen?.empresa.nombreCompleto ?? "" | uppercase }} </h3>
    </ion-col>

    <ion-col *ngIf="resumen" class="ionCol">
      <img src="{{ getLogoEmpresa() }}" height="64px;" width="64px;" />
    </ion-col>
  </ion-row>

  <ion-list *ngIf="tieneFuncion('resumenCtaCte')">
    <ion-list-header class="headerList" (click)="toggleDetalleCuentas()">
      <ion-label>Resumen Cta. Cte.</ion-label>
      <ion-button>
        <ion-icon *ngIf="mostrarDetalleCuentas" name="remove-circle-outline" slot="end"></ion-icon>
        <ion-icon *ngIf="!mostrarDetalleCuentas" name="add-circle-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngIf="mostrarDetalleCuentas">
      <ion-item
          *ngFor="let item of resumen.resumenesCtaCte; let i = index;"
          class="{{ ( i % 2 === 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}"
          (click)="ctacteTapped($event, item)">
        <ion-label>
          <span class="ion-label-span">CUENTA CORRIENTE</span> <strong> {{ item.saldo | currencyFormat }} </strong>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <ion-list *ngIf="tieneFuncion('resumenCereal')">
    <ion-list-header class="headerList" (click)="toggleDetalleCereales()">
        <ion-label>Resumen Cereales</ion-label>
        <ion-button>
          <ion-icon *ngIf="mostrarDetalleCereales" name="remove-circle-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="!mostrarDetalleCereales" name="add-circle-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-list-header>
    <div *ngIf="mostrarDetalleCereales">
    <ion-item *ngFor="let item of resumen.resumenCereal; let i = index;"
          class="item-stable {{ ( i % 2 === 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}"
          (click)="cerealTapped($event, item)">
        <ion-label >
          {{ item.cereal }} {{ item.clase }} {{ item.cosecha }} <strong> {{ item.kilosTotales | kilosFormat }} </strong>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <!--
      <ion-list *ngIf="tieneFuncion('fichaRemitos') && contieneRemitos">
        <ion-list-header class="headerList" (click)="toggleDetalleFichaRemitos()">
          Remitos Pendientes a Facturar
          <ion-icon color="primary" item-right [name]="iconoFichaRemitos"></ion-icon>
        </ion-list-header>
        <div *ngIf="mostrarDetalleFichaRemitos">
            <div *ngFor="let item of resumenService.resumen.fichaRemito; let i = index;">
              <div  *ngIf="item.idRubroCtacte.idRubroCtacte == 1 || item.idRubroCtacte.idRubroCtacte == 2 ">
              <button ion-item (click)="fichaRemitosTapped($event, item)"
                class="{{ ( i % 2 == 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}">
                {{  item.idRubroCtacte.nombre }} <strong> {{  item.fecha }} </strong>
                <ion-icon name="ios-arrow-forward" item-right></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </ion-list>

      <ion-list *ngIf="tieneFuncion('fichaCombustibles') && contieneCombustibles">
          <ion-list-header class="headerList" (click)="toggleDetalleFichaCombustibles()">
            Combustibles
            <ion-icon color="primary" item-right [name]="iconoFichaCombustibles"></ion-icon>
          </ion-list-header>
          <div *ngIf="mostrarDetalleFichaCombustibles">
              <div *ngFor="let item of resumenService.resumen.fichaRemito; let i = index;">
                <div  *ngIf="item.idRubroCtacte.idRubroCtacte == 3 ">
                <button ion-item (click)="fichaCombustiblesTapped($event, item)"
                  class="{{ ( i % 2 == 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}">
                  {{  item.idRubroCtacte.nombre }} <strong> {{  item.fecha }} </strong>
                  <ion-icon name="ios-arrow-forward" item-right></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </ion-list>
      -->

      <!-- <div style="padding-top: 0.5em;font-size: .8em">
        <p>Ult. actualización {{ resumen?.ultimaActualizacion ?? "" }} - S.E.U.O. </p>
      </div> -->

</ion-content>
