<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slort="start">
      <ion-menu-button menu="menuPrincipal"></ion-menu-button>
      <ion-title>Resumen de cuenta</ion-title>
   </ion-buttons>
</ion-toolbar>
<!--<header-component [headerText]="''" [notificaciones]="notificacionesService.ver ? notificacionesService.numeroMensajes : 0"></header-component>
  <user-component></user-component>
-->
</ion-header>
<ion-content [fullscreen]="true" *ngIf="istodoCargado">

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="ion-card-title"><ion-icon name="person"></ion-icon> {{ resumen?.cuenta.nombre ?? "" | uppercase }}</ion-card-title>

      <p class="texto_gral"><ion-icon name="mail"></ion-icon> {{ resumen?.cuenta.email }}</p>

    </ion-card-header>

   <!--  <ion-card-content> Card Content </ion-card-content> -->
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="ion-card-title">CUENTA CORRIENTE: {{ resumen?.cuenta.id }} </ion-card-title>
     <!--  <ion-card-subtitle> Cuenta: {{ resumen?.cuenta.id }}</ion-card-subtitle>-->
    </ion-card-header>

    <ion-card-content  *ngIf="tieneFuncion('resumenCtaCte')">
      <div>
        <ion-item
          *ngFor="let item of resumen.resumenesCtaCte; let i = index;"
          class = "ctacte_saldo"
          (click)="ctacteTapped($event, item)" >
          <ion-label >
            <span class= {{importeEstadoSaldos}}>SALDO {{saldoDeudorAcreedor}}</span>
            <strong><div style="text-align: center;" class= {{importeEstadoSaldos}}> <div>{{ getSaldoCtaCteActual(item.saldo) | currencyFormat }}</div></div>
  </strong>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>




  <!-- <ion-list *ngIf="tieneFuncion('resumenCtaCte')">
    <ion-list-header class="headerList"  (click)="toggleDetalleCuentas()">
      <ion-label>Cuenta Corriente</ion-label>
      <ion-button>
        <ion-icon
          *ngIf="mostrarDetalleCuentas"
          name="remove-circle-outline"
          slot="end"
        ></ion-icon>
        <ion-icon
          *ngIf="!mostrarDetalleCuentas"
          name="add-circle-outline"
          slot="end"
        ></ion-icon>
      </ion-button>
    </ion-list-header>


    <div *ngIf="mostrarDetalleCuentas">
      <ion-item
        *ngFor="let item of resumen.resumenesCtaCte; let i = index;"
        class="{{ ( i % 2 === 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}"
        (click)="ctacteTapped($event, item)"
      >
        <ion-label>
          <span class="ion-label-span">SALDO EN CUENTA</span>
          <strong> {{ item.saldo | currencyFormat }} </strong>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
  </ion-list>


 <ion-list *ngIf="tieneFuncion('detalleCtaCteDolar')">
      <ion-list-header *ngFor="let item of resumenService.resumen.resumenesCtaCteUss; let i = index;" class="headerList" (click)="ctacteUssTapped($event, item)">
        CUENTA CORRIENTE USS
        <ion-icon
        color="primary" item-right [name]="iconoCuentas"></ion-icon>
       </ion-list-header>
    </ion-list>




-->
  <ion-list *ngIf="tieneFuncion('resumenCereal')">
    <ion-list-header class="headerList" (click)="toggleDetalleCereales()">
      <ion-label>Resumen Cereales</ion-label>
      <ion-button>
        <ion-icon
          *ngIf="mostrarDetalleCereales"
          name="remove-circle-outline"
          slot="end"
        ></ion-icon>
        <ion-icon
          *ngIf="!mostrarDetalleCereales"
          name="add-circle-outline"
          slot="end"
        ></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngIf="mostrarDetalleCereales">
      <ion-item
        *ngFor="let item of resumen.resumenCereal; let i = index;"
        class="item-stable {{ ( i % 2 === 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}"
        (click)="cerealTapped($event, item)"
      >
        <ion-label>
          {{ item.cereal }} {{ item.clase }} {{ item.cosecha }}
          <strong> {{ item.kilosTotales | kilosFormat }} </strong>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <!--
      <ion-list *ngIf="tieneFuncion('fichaRemitos') && contieneRemitos">
        <ion-list-header class="headerList" (click)="toggleDetalleFichaRemitos()">
          Remitos Pendientes a Facturar
          <ion-icon color="primary" item-right [name]="iconoFichaRemitos"></ion-icon>
        </ion-list-header>
        <div *ngIf="mostrarDetalleFichaRemitos">
            <div *ngFor="let item of resumenService.resumen.fichaRemito; let i = index;">
              <div  *ngIf="item.idRubroCtacte.idRubroCtacte == 1 || item.idRubroCtacte.idRubroCtacte == 2 ">
              <button ion-item (click)="fichaRemitosTapped($event, item)"
                class="{{ ( i % 2 == 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}">
                {{  item.idRubroCtacte.nombre }} <strong> {{  item.fecha }} </strong>
                <ion-icon name="ios-arrow-forward" item-right></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </ion-list>

      <ion-list *ngIf="tieneFuncion('fichaCombustibles') && contieneCombustibles">
          <ion-list-header class="headerList" (click)="toggleDetalleFichaCombustibles()">
            Combustibles
            <ion-icon color="primary" item-right [name]="iconoFichaCombustibles"></ion-icon>
          </ion-list-header>
          <div *ngIf="mostrarDetalleFichaCombustibles">
              <div *ngFor="let item of resumenService.resumen.fichaRemito; let i = index;">
                <div  *ngIf="item.idRubroCtacte.idRubroCtacte == 3 ">
                <button ion-item (click)="fichaCombustiblesTapped($event, item)"
                  class="{{ ( i % 2 == 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}">
                  {{  item.idRubroCtacte.nombre }} <strong> {{  item.fecha }} </strong>
                  <ion-icon name="ios-arrow-forward" item-right></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </ion-list>
      -->

  <!-- <div style="padding-top: 0.5em;font-size: .8em">
        <p>Ult. actualización {{ resumen?.ultimaActualizacion ?? "" }} - S.E.U.O. </p>
      </div> -->
</ion-content>
