page-resumen {

  ion-content {
    //background: #f2f6f8 !important; /* Old browsers */
    //background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%) !important; /* FF3.6-15 */
    //background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%) !important; /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ) !important; /* IE6-9 */


    background: rgb(235,241,246) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%) !important;; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%) !important;; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%) !important;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ) !important;; /* IE6-9 fallback on horizontal gradient */

  }

  h2 {
    //font-family: times, Times New Roman, times-roman, georgia, serif;
    font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: -1px;
    color: #444;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: 100;
  }

  h3 {
    font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: -1px;
    color: #444;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: 100;
  }

  h4 {
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    border: none !important;
    color: color($colors, primary, base);
    font-size: 1em;
  }

  strong {
    font-weight: normal;
    float: right;
    margin-right: 5%;
    color: #555555;
  }

  .par {
    background: #FFFFFF;
  }

  .impar {
    background: #F9F9F9;
  }

  .headerList {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    color: color($colors, primary, base);
    font-size: 1em;
  }

  ion-list {

      ion-item {
        background-color: transparent;
        padding-left: 0;
        position: relative;
      }

      ion-label {
        div {
          text-transform: none;
          font-size: 0.8em;
          padding: 1em 0;
          white-space: normal;
          text-align: justify;
        }
      }

    }
}
