ion-badge {
    font-size: 15px;
    background-color: transparent;
    color: var(--danger);
    position: absolute;
    top: 0px;
    left: 0px;

}

.notification {
  padding-left: 30px;
}
