<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle de la cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/resumen"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="istodoCargado">

  <h4>Saldo Cuenta (S.E.U.O.)</h4>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <ion-label>CUENTA: # {{ detalleCtaCte.cuenta.id }}</ion-label>
        </ion-col>
        <ion-col col-4>
          <strong> {{ cuenta?.moneda ?? "" }} {{ cuenta?.saldo ?? 0 }} </strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-7>
          <label>A FECHA:</label>
        </ion-col>
        <ion-col col-4>
          <strong> {{ cuenta?.aFecha ?? "" }} </strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <h4>Movimientos</h4>
  <ion-list>
    <ion-item *ngFor="let item of detalleCtaCte.movimientos; let i = index;"
      class="{{ ( i % 2 === 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}">
      <ng-container *ngIf="item.historico === historico">
        <ion-label>
          {{ item.detalle }}
          <strong> {{ cuenta?.moneda ?? "" }} {{ ( item.importeDebe !== 0  ? item.importeDebe : (item.importeHaber !== 0 ? item.importeHaber : item.importeSaldo) ) | numeroFormat }} </strong>
        </ion-label>
        <ion-label style="font-size: 1.1rem !important; text-align: right;">
          {{item.vencimiento}} {{item.historico}}
        </ion-label>
      </ng-container>
    </ion-item>
  </ion-list>

</ion-content>
