<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cuenta corriente</ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/resumen"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true" *ngIf="istodoCargado">


    <ion-card color="light">
      <ion-card-header>
        <ion-card-title class="ion-card-title">{{socio.nombre ?? "" | uppercase }} / {{ socio.id }}  </ion-card-title>
       <ion-card-subtitle class="ion-card-sub-title">SALDO {{saldoDeudorAcreedor}} A FECHA  {{ cuenta?.aFecha ?? "" }}</ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        <div style="text-align: right;" class= {{importeEstadoSaldos}}> <div> {{ cuenta.moneda }} {{ getSaldoCtaCteActual() }}</div></div>
        <div style="text-align: right;"  class="ion-card-sub-title">Saldo Cuenta {{socio.id}} (S.E.U.O.)</div>
      </ion-card-content>
    </ion-card>



    <h4>DETALLE DE MOVIMIENTOS</h4>



  <ion-list>
    <ion-item *ngFor="let item of detalleCtaCte.movimientos; let i = index;"
      class="{{ ( i % 2 === 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}">
      <ng-container *ngIf="item.historico === historico">
        <ion-label>
          {{ item.detalle }}
          <strong> {{ cuenta?.moneda ?? "" }} {{ ( item.importeDebe !== 0  ? item.importeDebe : (item.importeHaber !== 0 ? item.importeHaber : item.importeSaldo) ) | numeroFormat }} </strong>
        </ion-label>
        <ion-label style="font-size: 11px !important; text-align: right;">
          {{item.vencimiento}}
        </ion-label>
      </ng-container>
    </ion-item>
  </ion-list>


</ion-content>
