ion-content {


  background: rgb(235, 241, 246) !important;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(235, 241, 246, 1) 0%, rgba(171, 211, 238, 1) 50%, rgba(137, 195, 235, 1) 51%, rgba(213, 235, 251, 1) 100%) !important;
  ;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(235, 241, 246, 1) 0%, rgba(171, 211, 238, 1) 50%, rgba(137, 195, 235, 1) 51%, rgba(213, 235, 251, 1) 100%) !important;
  ;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(235, 241, 246, 1) 0%, rgba(171, 211, 238, 1) 50%, rgba(137, 195, 235, 1) 51%, rgba(213, 235, 251, 1) 100%) !important;
  ;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb', GradientType=1) !important;
  ;
  /* IE6-9 fallback on horizontal gradient */

}

ion-card {
  width: 95%; font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}
ion-item {
//background-color: transparent;
//padding-bottom: 5px;
margin-left: 10px;
margin-right: 10px;

}
.list-md {
  background-color: transparent;
}
ion-grid {
  padding: 0px 0px;
  background-color: transparent;

  ion-row {

    background-color: white;
  }

  ion-label{
    color: var(--ion-color-primary);
    font-weight: bold;
    text-align: left;
    margin-left: 2%;
  }

  ion-icon {
    color: var(--ion-color-primary);

  }
  .inner-scroll {
    right: 10px;
  }

}

h4 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: none !important;
  color: var(--primary);
  font-size: 11px;
  font-weight: bold;
  padding-left: 2%;
}

label {
  font-size: 11px;
  letter-spacing: -0.5px;
}

strong {
  font-weight: normal;
  float: right;
  margin-right: 2%;
  color: #555555;
}

.par {
  --background: #FFFFFF;
  color: var(--ion-color-primary);
  font-size: 11px;
  padding-bottom: 5px;
}

.impar {
  --background: #F9F9F9;
  color: var(--ion-color-primary);
  font-size: 11px;
  padding-bottom: 5px;

}
