<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{"Detalle de Cereal"  }}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/resumen"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- *ngIf="estatodoCargado()" -->
<ion-content [fullscreen]="true"  padding>
  <ion-header collapse="condense">

  </ion-header>
  <ion-card  class="card" color="light">
    <ion-card-header>
      <ion-card-title class="ion-card-title">{{socio}} / {{cuenta}}</ion-card-title>
     <ion-card-subtitle class="ion-card-sub-title">SALDO CEREAL (S.E.U.O)</ion-card-subtitle>
  </ion-card-header>
 </ion-card>

  <h4>DETALLE DE MOVIMIENTOS</h4>
<ion-card  class="card" color="light">
  <ion-row  class="headerResumenCerealesResaltado"  >
    <ion-col  col-7 style="text-align: left; margin-left: 1%;">{{ cereal ? cereal.cereal : null }}:  {{ cereal ? cereal.cosecha : null }} {{ cereal ? cereal.clase : null  }}  </ion-col>
   <ion-col  col-4 style="text-align: left; margin-right: 1%;"><strong>{{ cereal ? cereal.kilosTotales : 0 | kilosFormat  }} KG</strong></ion-col>
 </ion-row>
</ion-card>





<ion-list>
  <ion-item *ngFor="let item of detalleCereal ? detalleCereal.movimientos : null; let i = index;"
    class="{{ ( i % 2 === 0 ? 'item item-block item-md par' : 'item item-block item-md impar') }}">
    <ng-container>
      <ion-col>
        <label>{{ item.tipoComprobante }}: {{ item.numeroComprobante }}   </label><label style="font-size: 10px"> {{ ( item.fecha !== '.' ? "("+item.fecha+")" : ' ' )}} </label>
    </ion-col>

    <ion-col>
      <strong>{{ getImporteMovimiento(item) | kilosFormat }}   </strong>
  </ion-col>


      <!-- <label>{{ item.tipoComprobante }}: {{ item.numeroComprobante }}   </label>
      <label> {{ getImporteMovimiento(item) | kilosFormat }}  </label> <hr>
      <label style="font-size: 10px"> {{ ( item.fecha !== '.' ? item.fecha : ' ' )}} </label>-->
    </ng-container>

  </ion-item>

</ion-list>

</ion-content>
